@use 'base/variables' as v;
@use 'base/mixins' as m;

.appPrincipal{
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
}

.panel-img{
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/356/700/non_2x/groovy-checkered-bicolor-background-1970-vintage-hippie-chessboard-pattern-retro-illustration-with-grunge-vector.jpg);
    h1{
        color: v.$secundario;
    }
    p{
        color: v.$secundario;
    }
}

.articulo-1{
    margin-top: 10rem;
    margin-bottom: 10rem;
    position:relative;
    width: 250px;
    transition: all .3s ease;
}

.articulo-1 img:first-child{
    box-shadow: 0 60px 60px
    -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.articulo-1 img:last-child{
    position:absolute;
    width: 200px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

.articulo-1:hover{
    transform: 
    perspective(250px)
    rotatex(7deg)
    translateY(-5%);
}
.articulo-1::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

.articulo-1:hover::before{
    opacity: 1;
}
.articulo-1:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}

.imagen-panel{
    background-image: url(../img/panel.jpg);
    height: 15rem;
    background-size: auto;
    background-position: center center;
    
}